@import "bootstrap/dist/css/bootstrap.min.css";

body {
  margin: 0 auto;
  background-color: #3d464d;
  .app-wrapper {
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 20px 0 0 0;

    .search-input {
      margin-right: 20px;
      border-radius: 5px;
      background: #f5f7fa;

      box-shadow: rgba(0, 0, 0, 0.2) 3px 6px 10px;
      height: 45px;
      padding: 20px;
    }
    .search-button {
      width: 130px;
      border-radius: 5px;
      box-shadow: none;
      box-shadow: rgba(0, 0, 0, 0.2) 3px 6px 10px;
      background: #f5f7fa;
    }
    .filter-button {
      height: 45px;
      box-shadow: none;
      background: #f5f7fa;
    }
    .search-list-wrapper {
      margin: 20px;
      border-radius: 20px;
      background-color: #212831;
      color: white;

      .search-input-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        justify-content: flex-start;
        background-color: #f5f7fa;
        border-radius: 20px 20px 0px 0px;
      }
    }

    .filter-wrapper {
      margin: 20px;
      border-radius: 20px;
      background-color: #f5f7fa;
      padding: 20px;
    }
    .list-wrapper {
      overflow-y: scroll;
      overflow-x: hidden;
      height: 83vh;
      width: 100%;
      padding: 20px;

      .card-wrapper {
        display: flex;
        background: #eee;
        padding: 10px 16px 10px 10px;
        margin-bottom: 16px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.2) 3px 6px 10px;
        border: solid 1px #ccc;
        color: black;
        .card-image {
          min-width: 80px;
          height: 80px;
          border-radius: 5px;
          opacity: 0.7;
          margin: 0 16px 0 0;
          border: solid 1px red;
        }
      }
    }
  }
}
